@model TourAgency.Models.ViewModel.ShopCart
 @* <h1>Здравствуйте @User.Identity.Name</h1> *@

@if(Model.tours.Count() > 0)
{
    @for(int i = 0; i < Model.tours.Count(); i++)
    {
        <div class="tour-card mb-3">
            <div class="card-body row h-100 w-100 mx-0">
                <div class="col-8 d-flex flex-column justify-content-between">
                    <h5 class="card-title">@Model.tours[i].TourName</h5>
                    <div>
                        <p class="personsCount-text card-text mb-0">Количесво человек</p>
                        <div class="personsCount d-flex flex-row-reverse w-100 justify-content-end">
                            <form class="m-0" asp-action="PlusPerson" asp-route-id="@Model.basket[i].Id" style="margin-right: 10px;">
                                <input type="submit" value="+" class="btn card-btn card-btn-plus py-0" />
                            </form>
                            <p class="card-text p-counter m-0">@Model.basket[i].PersonsCount</p>                        
                            @if (@Model.basket[i].PersonsCount > 1)
                            {
                            <form class="m-0" asp-action="MinusPerson" asp-route-id="@Model.basket[i].Id" style="margin-right: 10px;">
                                <input type="submit" value="-" class="btn card-btn card-btn-minus py-0" />
                            </form>   
                            }
                            else {
                            <form class="m-0" asp-action="MinusPerson" asp-route-id="@Model.basket[i].Id" style="margin-right: 10px;">
                                <input type="submit" value="-" class="btn card-btn card-btn-minus disabled py-0" />
                            </form>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column justify-content-between">
                    <form class="d-flex me-0 justify-content-end" asp-action="Delete" asp-route-id="@Model.basket[i].Id" style="margin-right: 10px;">
                        <input type="submit" value="" class="btn btn-trash" />
                    </form>

                    <p class="price mb-0">@Model.tours[i].Price₽</p>
                </div>                              
            </div>
        </div>
        
        
    }


    <h2>Итоговая цена - @Model.price</h2>
    <div class="col-4 price-container d-flex justify-content-end flex-column">
        <a asp-action="Create" asp-controller="Order" asp-route-price="@Model.price" class="buy-btn">Оформить заказ!</a>@**@
    </div>

} else
{
    <div class="empty-cart mt-5">
        <div class="empty-cart-border">
            <h2>😭😭😭</h2>
            <h2>Кажется корзина пуста.</h2>
            <h2>Посмотрите туры <span class="mx-2 buy-link"><a asp-area="" asp-controller="Tours" asp-action="Index">ТУТ</a></span>!</h2>
        </div>        
    </div>
    
}

